@charset "UTF-8";
#restaurants{
	width : 100%;
	height : 180px;
	border : 2px solid #ddd;
}
img{
	float : right;
	width : 250px;
	height : 100%;
}
#restaurants div{
	margin : 10px;
}

#restaurants #title{
	font-size : 20px;
	font-weight : bold;
}
#restaurants #location{
	font-size : 17px;
}
#restaurants {
	font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}


/*체크박스------------------------------------*/

/* 색상 변경 */
.check input, .check progress {
  accent-color: tomato;
  margin : 7px;
}
input[type="checkbox"]{
	width: 20px; /*Desired width*/
	height: 20px; /*Desired height*/
	cursor: pointer;
	margin : 5px;
}
label{
	font-size : 1.2rem;
	font-weight : bold;
}
.check{
	float : right;
	margin-bottom: 8%;
}



/*모바일-------------------------------------*/
@media screen and (max-width: 450px) {

	#restaurants #title{
		font-size : 1.5rem;
	}
	#restaurants #location{
		font-size : 1.2rem;
	}
	#restaurants #doc{
		font-size : 1rem;
	}
	img{
		float : right;
		width : 30vw;
		height : 100%;
	}
	#restaurants{
		width : 100%;
		height : 110px;
		border : 2px solid #ddd;
	}
/*체크박스------------------------------------*/

/* 색상 변경 */
.check input, .check progress {
  accent-color: tomato;
  margin : 7px;
}
input[type="checkbox"]{
	width: 20px; /*Desired width*/
	height: 20px; /*Desired height*/
	cursor: pointer;
	margin : 5px;
}
label{
	font-size : 1.2rem;
	font-weight : bold;
}
.check{
	float : right;
	margin-bottom: 8%;
}
}
