@charset "UTF-8";

#item {
   display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(8, minmax(0, auto));
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;
    padding: 15px 20px;
    margin-bottom: 10px;
}

#item:hover{
	cursor:pointer;
	background-color:#E49082;
	color:#fff;
}

.item-name{
    grid-column: 1 / 4;
    grid-row: 1 / 4;
}

.item-image{
    grid-column: 2;
    grid-row: 1 / 8;
}

.item-address{
    grid-column: 1 / 4;
    grid-row: 4 / 6;
}

.item-tel{
    grid-column: 1 / 4;
    grid-row: 6 / 7;
}

.item-homepage{
    grid-column: 1 / 4;
    grid-row: 7 / 8;
}

.check input, .check progress {
    accent-color: tomato;
    margin : 7px;
}
input[type="checkbox"]{
    width: 20px; /*Desired width*/
    height: 20px; /*Desired height*/
    cursor: pointer;
    margin : 5px;
}
label {
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    bottom: 3px;
}
.check{
    margin-bottom: 3%;
}

#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: none;
}

#modal .modal-window {
    /* background: rgba( 69, 139, 197, 0.70 ); */
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 40%;
    height: 80%;
    position: absolute;
    margin: auto;
    padding: 10px;
    background-color : white;
}

.item-detail-modal{
    width: 100%;
    height: 60%;
    text-align: center;
    margin : auto;
    margin-bottom : 10vh;
}

.item-name {
    margin-bottom: 1vh;
    font-size: 1.5rem;
    font-weight: bold;
}
.item-image {
    background-size: cover;
    width: 50%;
    height: 80%;
    margin: auto;
}

.item-address {
    margin-top: 1vh;
    font-size: 1.2rem;
    font-weight: bold;
}

.item-tel{
    margin-top : 1vh;
}

.item-homepage{
    margin-top : 1vh;
}

.item-homepage a{
    color: black;

}

.item-overview {
    display: inline-block;
    margin-top: 2vh;
    height: 30%;
    width: 85%;
    overflow-y: scroll;
}

.item-detailBtnGroup-modal{
    width: 100%;
    height: 40%;
    text-align: center;
    margin : auto;
}

.item-detailBtnGroup-modal input {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(255, 99, 71);
    color: white;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 8px;
    border-radius: 10px;
    margin-top: 4vh;
}
.item-detailBtnGroup-modal input:hover{
	cursor:pointer;
}

.koreap{
    margin-top : 10em;
}
#accommodation:hover{
    cursor : pointer;
}

@media screen and (max-width: 450px) {

    #modal{
        z-index: 150;
    }
    #modal .modal-window {
        width: 80%;
        height: 80%;
    }

    #accommodation #title{
        font-size : 1.5rem;
    }
    #accommodation #location{
        font-size : 1.2rem;
    }
    #accommodation #doc{
        font-size : 1rem;
    }
    img{
        float : right;
        width : 30vw;
        height : 100%;
    }
    #accommodation{
        width : 100%;
        height : 110px;
        border : 2px solid #ddd;
    }
    /*체크박스------------------------------------*/

    /* 색상 변경 */
    .check input, .check progress {
        accent-color: tomato;
        margin : 7px;
    }
    input[type="checkbox"]{
        width: 20px; /*Desired width*/
        height: 20px; /*Desired height*/
        cursor: pointer;
        margin : 5px;
    }
    label{
        font-size : 1.2rem;
        font-weight : bold;
        position: relative;
   	    bottom: 3px;
    }
    .check{
        margin-bottom: 8%;
    }


    @media screen and (max-width: 800px) {

        #modal{
            z-index: 150;
        }
        #modal .modal-window {
            width: 80%;
            height: 80%;
        }
    }
}