@charset "UTF-8";

#loadingBody{
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display:block;
}

#loadingImg{
    text-align: center;
    margin-top: 10%;
    width: 20%;
    height: 20%;
}