@charset "UTF-8";

#myTourSelectMain {
  background: #ECE9E6;
  margin:0;
} 

.myTourSelectContainer {
  width: 100vw;
  align-items: center;
  display: grid;
  grid-template-columns: 100%;
  gap:1vh;
  margin:0vh auto;
  margin-top:0;
}
.upcomming{
    justify-self: center;
    padding: 2vh;
    margin: 1.8vh;
    margin-right: 60%;
    font-size: 1.5rem;
}
.logo{
   float: left;
    width: 18vh;
    height: 27vh;
    position: absolute;
    top: 2vh;
    left: -2vh;
}
.myTourSelectContainer .myTourSelectItem {
  width: 90%;
  display:inline-block;
  padding: 0 2vw;
  /* background: #ECE9E6; */
  background: #fff;
  overflow: hidden;
  margin: auto;
  display:grid;
  grid-template-columns:1fr 2fr;
}

.myTourSelectContainer .item-right, .myTourSelectContainer .item-left {
  /* float: left; */
  padding: 2vh; 
}
.myTourSelectContainer .item-right {
  padding: 7.9vh 5vh;
  margin-left: 1vh;
  width: 25%;
  position: relative;
  height: 15vh;
}
.myTourSelectContainer .item-right .up-border, .myTourSelectContainer .item-right .down-border {
    padding: 14px 15px;
    background-color: #ECE9E6;
    border-radius: 50%;
    position: absolute;
}
.myTourSelectContainer .item-right .up-border {
  top: -1vh;
  right: -7vh;
}
.myTourSelectContainer .item-right .down-border {
  bottom: -3.3vh;
  right: -7vh;
}
.myTourSelectContainer .item-right .num {
  font-size: 60px;
  text-align: center;
  color: #111;
}
.myTourSelectContainer .item-right .day, .myTourSelectContainer .item-left .event {
  color: #555;
  margin-bottom: 0.5vh;
}
.myTourSelectContainer .item-right .day {
  text-align: center;
  font-size: 25px;
}
.myTourSelectContainer .item-left {
  width: 100%;
  padding: 4vh 0vw 1.8vh 5vw;
  border-left: 3px dotted #999;
}
.TicketClick:hover{
	cursor: pointer;
}
.myTourSelectContainer .item-left .title {
  color: #111;
  font-size: 2rem;
  margin-bottom: 12px;
}
.myTourSelectContainer .item-left .sce {
  margin-top: 5px;
  display: block;
}
.myTourSelectContainer .item-left .sce .icon, .myTourSelectContainer .item-left .sce p,
.myTourSelectContainer .item-left .loc .icon, .myTourSelectContainer .item-left .loc p{
    float:left;
    color: #888;
    margin-bottom: 0.8vh;
}
.myTourSelectContainer .item-left .sce .icon, .myTourSelectContainer .item-left .loc .icon {
  margin-right: 10px;
  font-size: 20px;
  color: tomato;
}
.myTourSelectContainer .item-left .loc {display: block}
.fix {clear: both}


/*버튼------------------------------------*/
#divBtnPlan{
	margin:auto;
}

#btnPlan{
	height : 8vh;
	background-color : #fff;
	border : 4px solid rgb(234, 175, 166);
	border-radius : 5px;
	font-size : 3vh;
	font-weight : bold;
	color : rgb(234, 175, 166);
	text-align : center;
	margin : 4vh auto;
	padding : 1vw;
}

#btnPlan:hover{
	background-color : rgb(234, 175, 166);
	color : #fff;
	cursor : pointer;
	font-size : 3vh;
}
