
/* myTour/M_myTourSelect.jsp 내여행 페이지(모바일용!!) */

#myTourSelectMain {
  background: #ECE9E6;
  margin:0;
} 

.myTourSelectContainer {
  width: 100vw;
  align-items: center;
  display: grid;
  grid-template-columns: 100%;
  gap:1vh;
  margin:1vh auto;
   margin-top:0;
}
.upcomming {
  justify-self: center;
    padding: 2vh;
    margin: 1.8vh;
    margin-right: 70%;
}
.logo{
   float: left;
    width: 14vh;
    height: 24vh;
    position: absolute;
    top: 1vh;
    left: -2vh;
}
.myTourSelectContainer .myTourSelectItem {
  width: 90%;
  display:inline-block;
  padding: 0 2vw;
  /* background: #ECE9E6; */
  background: #fff;
  overflow: hidden;
  margin: auto;
  display:grid;
  grid-template-columns:1fr 2fr;
}

.myTourSelectContainer .item-right, .myTourSelectContainer .item-left {
  /* float: left; */
  padding: 2vh; 
}
.myTourSelectContainer .item-right {
  padding: 7.9vh 5vh;
  margin-left: 1vh;
  width: 25%;
  position: relative;
  height: 15vh;
}
.myTourSelectContainer .item-right .up-border, .myTourSelectContainer .item-right .down-border {
    padding: 14px 15px;
    background-color: #ECE9E6;
    border-radius: 50%;
    position: absolute;
}
.myTourSelectContainer .item-right .up-border {
  top: -8px;
  right: -35px;
}
.myTourSelectContainer .item-right .down-border {
  bottom: -13px;
  right: -35px;
}
.myTourSelectContainer .item-right .num {
  font-size: 60px;
  text-align: center;
  color: #111;
}
.myTourSelectContainer .item-right .day, .myTourSelectContainer .item-left .event {
  color: #555;
  margin-bottom: 0.5vh;
}
.myTourSelectContainer .item-right .day {
  text-align: center;
  font-size: 25px;
}
.myTourSelectContainer .item-left {
  width: 100%;
  padding: 4vh 0vw 1.8vh 5vw;
  border-left: 3px dotted #999;
}
.TicketClick:hover{
	cursor: pointer;
}
.myTourSelectContainer .item-left .title {
  color: #111;
  font-size: 2rem;
  margin-bottom: 12px;
}
.myTourSelectContainer .item-left .sce {
  margin-top: 5px;
  display: block;
}
.myTourSelectContainer .item-left .sce .icon, .myTourSelectContainer .item-left .sce p,
.myTourSelectContainer .item-left .loc .icon, .myTourSelectContainer .item-left .loc p{
    float:left;
    color: #888;
    margin-bottom: 0.8vh;
}
.myTourSelectContainer .item-left .sce .icon, .myTourSelectContainer .item-left .loc .icon {
  margin-right: 10px;
  font-size: 20px;
  color: #666;
}
.myTourSelectContainer .item-left .loc {display: block}
.fix {clear: both}
.myTourSelectContainer .myTourSelectItem .btnReview1{
	width: 32vw;
	background-color: #fff;
	border: 0 solid #e2e8f0;
	border-radius: 1.5rem;
	box-sizing: border-box;
	color: #697c89;
	cursor: pointer;
	display: inline-block;
	font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1.1rem;
	font-weight: 600;
	line-height: 1;
	padding: 1rem 1.6rem;
	text-align: center;
	text-decoration: none #697c89 solid;
	text-decoration-thickness: auto;
	transition: all .1s cubic-bezier(.4, 0, .2, 1);
	box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.myTourSelectContainer .myTourSelectItem .btnReview1:hover {
	background-color: #697c89;
	color: #fff;
}

/*페이징처리부분*/
#ri_page_btn{
	justify-self : center;
	display : grid;
	width: 90vw;
	grid-template-columns : repeat(9, 1fr);
	justify-items : center;
	gap : 2px;
	margin-top: 15vh;
	margin-bottom: 15vh;
}
#ri_page_btn div{
	width : 95%;
	text-align: center;
}

#ri_page_begin,#ri_page_end {
  background-color: #ff6347;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

#ri_page_begin:hover,#ri_page_end:hover,
#ri_page_begin:focus,#ri_page_end:focus {
  background-color: #ff5330;
}

#ri_page_begin:focus,#ri_page_end:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

#ri_page_begin:active,#ri_page_end:active {
  background-color: #0064bd;
  box-shadow: none;
}

#ri_page_1,#ri_page_2,#ri_page_3,#ri_page_4,#ri_page_5 {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: 0;
  overflow: hidden;
  padding: 8px .8em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

#ri_page_1:active,#ri_page_2:active,#ri_page_3:active,#ri_page_4:active,#ri_page_5:active {
  border-bottom-color: #a2a6ac;
}

#ri_page_1:active:hover,#ri_page_2:active:hover,#ri_page_3:active:hover,#ri_page_4:active:hover,#ri_page_5:active:hover {
  border-bottom-color: #a2a6ac;
}

#ri_page_1:hover,#ri_page_2:hover,#ri_page_3:hover,#ri_page_4:hover,#ri_page_5:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

#ri_page_1:focus,#ri_page_2:focus,#ri_page_3:focus,#ri_page_4:focus,#ri_page_5:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}


#ri_page_before, #ri_page_after{
  background-color: #ffa899;
  border-radius: 3px;
  border: 1px solid #ff6347;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

#ri_page_before:hover,#ri_page_after:hover,
#ri_page_before:focus,#ri_page_after:focus {
  background-color: #ffb447;
  color: #ff6347;
}

#ri_page_before:focus,#ri_page_after:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

#ri_page_before:active,#ri_page_after:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
