@charset "UTF-8";
.title{
	font-size : 1.5rem;
}

#listBack{
	width : 100%;
	height : 100%;
	margin : 20px auto;
	position : relative;
}
	
.btn-group button{
	background-color: rgb(235, 233, 230);;
    border: 3px solid #FFF;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
	display : inline-block;
	text-align : center;
	font-size : 1.5rem;
	font-weight : bold;
}
	
.searchTxt {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: black;
  font-size: 18px;
  line-height: 40px;
  border-radius : 6px;
  width:70%;
  height : 53px;
  margin : 16px;
}

.check{
	margin : 10px;
}
/*검색 버튼-----------------------------------*/
.search-btn {
  float : right;
  color: #EDEDED;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  margin : 10px;
}



/*퀵 버튼--------------------------------------*/
#Quick{
	position: absolute; 
	right: 10px; 
	top: 400px;
	background-color : #fff;
}
.quickMenuBar{
	border: 2px solid tomato;
	border-radius : 3px;
	width : 110px;
	height : 80px;
	padding : 2px;
	font-size : 15px;
	text-align : center;
}
#btnMyTravel{
	cursor:pointer;
	border-bottom : 2px dotted tomato;
	margin : 3px;
}
#btnTop{
	cursor:pointer;
	margin : 3px;
}
#btnMyTravel:hover{
	background-color : tomato;
}
#btnTop:hover{
	background-color : tomato;
}

/*버튼---------------------------------*/
.btn-group{
	display : grid;
	height : 150px;
	text-align : center;
	margin : 20px auto;
	padding : 6px;
	font-weight : bold;
	font-size : 1rem;
}
.btn-group button:focus {
    background-color: tomato;
    color : #fff;
}