@charset "UTF-8";

#myTourSelectMain {
  background: #ECE9E6;
  margin:0;
} 

.myTourSelectContainer {
  width: 100vw;
  align-items: center;
  display: grid;
  grid-template-columns: 100%;
  gap:3vh;
  margin:0vh auto;
  margin-top:0;
  min-height:100vh;
}
.myTourTicketFrm{
	display:none;
}
.upcomming{
    justify-self: center;
    margin: 1.8vh;
    margin-right: 60%;
    font-size: 1.5rem;
    margin-top:5vh;
    margin-bottom:5vh;
}
.logo{
   float: left;
    width: 18vh;
    height: 27vh;
    position: absolute;
    top: 2vh;
    left: -2vh;
}
.myTourSelectContainer .myTourSelectItem {
  width: 90%;
  display:inline-block;
  padding: 0 2vw;
  /* background: #ECE9E6; */
  background: #fff;
  overflow: hidden;
  margin: auto;
  display:grid;
  grid-template-columns:1fr 2fr;
}

.myTourSelectContainer .item-right, .myTourSelectContainer .item-left {
  /* float: left; */
  padding: 2vh; 
}
.myTourSelectContainer .item-right {
  padding: 7.9vh 5vh;
  margin-left: 1vh;
  width: 25%;
  position: relative;
  height: 15vh;
}
.myTourSelectContainer .item-right .up-border, .myTourSelectContainer .item-right .down-border {
    padding: 14px 15px;
    background-color: #ECE9E6;
    border-radius: 50%;
    position: absolute;
}
.myTourSelectContainer .item-right .up-border {
  top: -1vh;
  right: -7vh;
}
.myTourSelectContainer .item-right .down-border {
  bottom: -3.3vh;
  right: -7vh;
}
.myTourSelectContainer .item-right .num {
  font-size: 60px;
  text-align: center;
  color: #111;
}
.myTourSelectContainer .item-right .day, .myTourSelectContainer .item-left .event {
  color: #555;
  margin-bottom: 0.5vh;
}
.myTourSelectContainer .item-right .day {
  text-align: center;
  font-size: 25px;
}
.myTourSelectContainer .item-left {
  width: 100%;
  padding: 4vh 0vw 1.8vh 5vw;
  border-left: 3px dotted #999;
}
.myTourSelectContainer .item-left .title {
  color: #111;
  font-size: 2rem;
  margin-bottom: 12px;
}
.myTourSelectContainer .item-left .sce {
  margin-top: 5px;
  display: block;
}
.myTourSelectContainer .item-left .sce .icon, .myTourSelectContainer .item-left .sce p,
.myTourSelectContainer .item-left .loc .icon, .myTourSelectContainer .item-left .loc p{
    float:left;
    color: #888;
    margin-bottom: 0.8vh;
}
.myTourSelectContainer .item-left .sce .icon, .myTourSelectContainer .item-left .loc .icon {
  margin-right: 10px;
  font-size: 20px;
  color: tomato;
}
.myTourSelectContainer .item-left .loc {display: block}
.fix {clear: both}


/*버튼------------------------------------*/
#divBtnPlan{
	margin:auto;
	margin-bottom: 15vh;
}
.btnMyTourTicketPlan, .btnMyReview, .btnReview1{
	width: 20vw;
	background-color: #fff;
	border: 0 solid #e2e8f0;
	border-radius: 1.5rem;
	box-sizing: border-box;
	color: #697c89;
	cursor: pointer;
	display: inline-block;
	font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1.1rem;
	font-weight: 600;
	line-height: 1;
	padding: 1rem 1.6rem;
	text-align: center;
	text-decoration: none #697c89 solid;
	text-decoration-thickness: auto;
	transition: all .1s cubic-bezier(.4, 0, .2, 1);
	box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	margin-top:4vh;
}

.btnMyTourTicketPlan:hover, .btnMyReview:hover, .btnReview1:hover {
	background-color:tomato;
	color: #fff;
}