@charset "EUC-KR";
		#mplanner{
			display:grid;
			grid-rows: 2fr 3fr;
			min-height:55vh;
			}
		#map{
			min-width:100vw;
 			min-height:20vh;
		}
		.mListContainer{
			margin:1vh;
	  		justify-content : center;
		}
		#button_container{
			display:grid;
			grid-template-columns: repeat(2, 1fr);
		}
		input#mPlanList, input#mPlanBucketList{
			height:50px;
			font-size:1.5rem;
			border-radius: 20px 20px 0 0;
		}
		input#mPlanList:hover, input#mPlanBucketList:hover{
			background-color:tomato;
			color: white;
		}
		.mList{
			border-left: black 1px solid;
			border-right: black 1px solid;
			border-bottom: black 1px solid;
			overflow-y:auto;
			height:45vh;
		}
		.clickbtn{
			background-color:tomato;
			border:none;
			color: white;
		}
		.nonclickbtn{
			background-color:white;
			border-left: none;
			border-right: none;
			border-top: none;
			border-bottom:1px solid black;
		}
		.mList::-webkit-scrollbar{
			display:none;
		}
		/* modal box */

.modalheader{
	background-color: tomato;
	color: white;
	padding:1vh;
	border-radius:10px 10px 0 0;
}
#BucketModal, #modal2, #modal3{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	display:none;
	width: 100vw;
	height: 100vh;
}

#modalBack, #modalBack2, #modalBack3{
	background-color: rgba(0,0,0,.5);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

#BucketModal form #content1, #modal2 .frm_PlanUpdate #content2{
	width: 70vw;
	min-height:20vh;	
	border-radius:10px;
	margin: 45vh auto;
	z-index:101;
	padding-bottom: 2vh;
	position: relative;
	text-align:center;
	background-color: #fff;
}
#modal3 .frm_PlanMemoUpdate #content3{
	width: 80vw;
	min-height:15vh;	
	border-radius:10px;
	margin: 45vh auto;
	z-index:101;
	padding-bottom: 2vh;
	position: relative;
	text-align:center;
	background-color: #fff;
}
#BucketModal form #content1 #btnClose, #modal2 .frm_PlanUpdate #content2 #btnClose2, #modal3 .frm_PlanMemoUpdate #content3 #btnClose3{
	position: absolute;
	font-size:1.5rem;
	margin-right:1vh;
	color:white;
	right:2px;
	padding:0;
	top:2px;
	height:fit-content;
	background-color: tomato;
	border: none;
	float:right;
}
.locationTitle{
	font-size:1.5rem;
	font-weight:bold;
	display:inline-block;
}
.UpdateSubTitle{
	font-size:1rem;
}

#modal2 .locationName{
	border:none;
	white-space: pre-line;

}

#modal2 .UpdatePlanSerial{
	width:5vw;
	font-size:1rem;
}
#modal2 .UpdatePlanOrder{
	width:5vw;
}
.MemoArea{
	height:10vh;
	width:80%;
	background-color:#eee;
	border:none;
}
#BucketModal .locationName, #modal2 .locationName, #modal3 .MemoArea{
	font-size:1.5rem;
	font-weight:bold;
	margin-top:20px;
	margin-bottom:15px;
}
#BucketModal form #content1 select, #modal2 .frm_PlanUpdate #content2 select{
	margin-top:5%;
	width: fit-content;
	font-size:1rem;
	margin-bottom:10%;	
}
#BucketModal form #content1 #btnBucketModalAdd, #modal3 .frm_PlanMemoUpdate #content3 #btnCheck3{
	width: 50vw;
	font-size:1rem;
	margin-top:2vh;
	padding:2%;
	background-color:tomato;
	color:white;
	border:none;
	margin-bottom:1vh;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		
}
#modal2 .frm_PlanUpdate #btnPlanModalAdd, #modal2 .frm_PlanUpdate #btnPlanModalSubtract{
	width: 25vw;
	font-size:1rem;
	margin-top:2vh;
	padding:2%;
	background-color:tomato;
	color:white;
	border:none;
	margin-bottom:1vh;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


	.Bucketitem{
		padding:1vh;
		border-bottom:1px solid lightgray;
		display:grid;
		grid-template-columns:1.5fr 3fr 1fr;
	}
	
	.bucketImg{
		width:100%;
		border-radius:10%;
	}
	.bucketInfo{
		padding-left:1vh;
	}
	.bucketTitle{
		font-size:1.5rem;
		margin-top:2vh;
		margin-bottom:1vh;
		width:40vw;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display:block;
		
	}
	.bucketTitle input{
		display:none;
	}
	.bucketgubun{
		font-size:1rem;
		color: darkgray;
	}
	.bucketbtn{
		display:grid;
		grid-template-rows: repeat(3, 1fr);
	}
	.bucketToPlan, .bucketThrow{
		width:25%;
		padding:1vw;
		border-radius:40px;
	}
	.bucketToPlan{
		margin-right: 7vw;
	}
	#FiltersContainer{
		position:relative;
		background-color:white;
	}
	#bucketFilters{
		position:fixed;
		right:inherit;	
	margin-right:1vw;
	}
	.bucketFilter{
		color:gray;
		font-size:0.5rem;
		margin-right: 10vw;
		background-color:white;
		border:none;
	}
	
	.Planitem{
		padding:1%;
		display:grid;
		margin:5%;
		border-bottom:1px solid gray;
		grid-template-columns:repeat(3,1fr);
	}
	.planDay{
		font-size:1.5rem;
	}
	.planSerial{
		font-size:1.5rem;
		margin:auto;
	}
	.planInfo{
		padding-left:1vh;
	}
	.planTitle{
		font-size:1.5rem;
		width:40vw;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display:block;
		
	}
	.plangubun{
		font-size:1rem;
		color: darkgray;
	}
	.planMemoWrapper{
		position:relative
	}
	.PlanMemo{
		display: grid;
		justify-items:end;
		grid-template-rows :1fr 10px;
	}
	.PlanMemo div{
		font-size:0.5rem;
	}
	.PlanMemoItem{
		width:15%;
	}
	#FiltersContainer{
		display:grid;
		min-height:1.8vh;
		margin-top:0.3vh;
		justify-items:end;
	}
	.planFilters{
		width:fit-content;
	}
	.planFilter{
		display:inline-block;
		color:gray;
		background-color:white;
		margin-right: 10vw;
		font-size:0.5rem;
		border:none;
	}
	.planDays{
		background-color:rgba(255, 99, 71, 0.5);
		color: white;
		font-weight:bold;
		text-align:center;
		padding: 10px;
	}
	#goRecommend{
		border-radius:50%;
		line-height:4;
		width:13vw;
		height:13vw;
		text-align:center;
		font-weight:bold;
		font-size:1rem;
		text-decoration:none;
		position :fixed;
		z-index:500;
		right:20vw;
		bottom:20vh;
		color:#fff;
		background-color:tomato;
	}
	#goReview{
	border-radius:50%;
	line-height:4;
	width:13vw;
	height:13vw;
	text-align:center;
	font-weight:bold;
	font-size:1rem;
	text-decoration:none;
	position :fixed;
	z-index:500;
	right:5vw;
	bottom:20vh;
	color:#fff;
	background-color:tomato;
}
#goReview>span, #goRecommend>span{
	height:1.5vh;
	display:block;
}

/*customOverlay */
.customOverlay{
	border-radius: 50%;
	background-color: #fff;
	text-align:center;
	width:10vw;
	height:10vw;
	color:#000;
	font-size:0.6em;
	font-weight:bold;
	padding-top:0.8vw;
	positions:relative;
}

.customOverlay>div{
	font-size:0.3em;
	font-weight:bold;
}