
@charset "UTF-8";

.signUpMain{
	text-align:center;
}

.signUpH{
	margin-top : 9vh;
	text-align : center;
}

.btnCheck{
	font-family: sans-serif;
    text-align: center; 
    position: relative;
    color: white;
    background-color : #303245;
    padding: 0.5vh 0.5vh;  
    border-radius: 12px;
    float:right;
    font-size: 0.8em;
    width:20%;
    margin-bottom: 3px;
}

.btnCheck:active{
  top: 1px;
  border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
  box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
  position: relative;
}

.btnCheck:hover{
	cursor: pointer;
}

/*
.nickname{
	margin-top : 11vh;
	text-align : center;
}

.nickname span{
	position : relative;
	text-align : left;
}

.nickname input{
	position : relative;
	text-align : right;
}

.intro{
	margin-top : 7vh;
}
*/
.profileImage{
	margin-top : 11vh;
}

.btnProfileSelect{
	font-family: sans-serif;
	margin-top : 4vh;
	display: block;
	width: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    position: relative;
    border: 0;
    display: inline-block;
    color: white;
    background-color : #303245;
    padding: 0.5vh 0.5vh;  
    font-size: 0.8em;
    border-radius: 12px;
}

.btnProfileSelect:active{
  top: 1px;
  border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
  box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
  position: relative;
}

.btnProfileSelect:hover{
	cursor: pointer;
}
 
.btnMyInfoModify{
	font-family: sans-serif;
	margin-top : 11vh;
	display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    position: relative;
    border: 0;
    padding: 15px 25px;
    display: inline-block;
    color: white;
    background-color : #303245;
    font-size: 4vh;
    border-radius: 12px;
}

.btnMyInfoModify:active{
  top: 1px;
  border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
  box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
  position: relative;
}

.btnMyInfoModify:hover{
	cursor: pointer;
}

.img-box{
	background-image: url("/images/G1.jpg");
	background-position : center;
	background-size : cover;
	border-radius: 50%;
	border : 1px solid #000000;
	margin: 0 auto;
    width: 200px;
    height: 200px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 11vh;
  width : 30vw;
  margin-left : 35vw;
}

.ic2 {
  margin-top: 7vh;
  width : 30vw;
  margin-left : 35vw;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
  text-align : center;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}
/*
.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  // outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
*/