@charset "UTF-8";
/* myTour/myTourSelect.jsp 내여행 페이지 */
#myTourSelectMain {
  background: #ECE9E6;
  width:100%;
  height:100%;
  margin:0;
} 

.myTourSelectContainer {
  width: 70%;
  margin: 0 auto;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr ;
  gap:10px;
  margin-top:0;
}
.upcomming {
  justify-self: start;
  padding:20px;
  margin: 2vh 1vh;
  font-size: 1.5rem;
}
.logo{
    width: 100%;
    height: 100%;
}
.myTourSelectContainer .myTourSelectItem {
  width: 650px;
  height: 250px;
  display:grid;
  grid-template-columns : 1fr 2fr;
  /* background: #ECE9E6; */
  background: #fff;
  overflow: hidden;
  margin: 10px auto;
}
.TicketClick:hover{
	cursor: pointer;
}
.TicketClick{
	display : grid;
	height: 100%;
	width : 95%;
}
.TicketClick>div, .TicketClick>p, .TicketClick>h2{
	margin-left : 10%;
	align-self: end;
}
.myTourSelectContainer .item-right, .myTourSelectContainer .item-left {
  padding: 20px; 
}
.myTourSelectContainer .item-right {
  width: 100%;
  position: relative;
  height: 100%;
}
.myTourSelectContainer .item-right .up-border, .myTourSelectContainer .item-right .down-border {
    padding: 14px 15px;
    background-color: #ECE9E6;
    border-radius: 50%;
    position: absolute;
}
.myTourSelectContainer .item-right .up-border {
  top: -5%;
  right: -7.5%;
}
.myTourSelectContainer .item-right .down-border {
  bottom: 20%;
  right: -7.5%;
}
.myTourSelectContainer .item-right .num {
  font-size: 60px;
  text-align: center;
  color: #111;
}
.myTourSelectContainer .item-right .day, .myTourSelectContainer .item-left .event {
  color: #555;
  font-size: 16px;
  
}
.myTourSelectContainer .item-right .day {
  text-align: center;
  font-size: 25px;
}
.myTourSelectContainer .item-left {
  width: 100%;
  border-left: 3px dotted #999;
  box-sizing: border-box;
}
.myTourSelectContainer .item-left .title {
  color: #111;
  font-size: 34px;
}
.myTourSelectContainer .item-left .sce {
  margin-top: 5px;
  display: block;
}
.myTourSelectContainer .item-left .sce .icon, .myTourSelectContainer .item-left .sce p,
.myTourSelectContainer .item-left .loc .icon, .myTourSelectContainer .item-left .loc p{
    float:left;
    word-spacing: 5px;
    letter-spacing: 1px;
    color: #888;
    margin-bottom: 10px;
}
.myTourSelectContainer .item-left .sce .icon, .myTourSelectContainer .item-left .loc .icon {
  margin-right: 10px;
  font-size: 20px;
  color: tomato;
}
.myTourSelectContainer .item-left .loc {display: block}
.fix {clear: both}

.myTourSelectContainer .myTourSelectItem .btnReview1{
	width: 95%;
	background-color: #fff;
	border: 0 solid #e2e8f0;
	border-radius: 1.5rem;
	box-sizing: border-box;
	color: tomato;
	cursor: pointer;
	display: inline-block;
	font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1.1rem;
	font-weight: 600;
	line-height: 1;
	padding: 1rem 1.6rem;
	text-align: center;
	text-decoration: none #697c89 solid;
	text-decoration-thickness: auto;
	transition: all .1s cubic-bezier(.4, 0, .2, 1);
	box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.myTourSelectContainer .myTourSelectItem .btnMyReview{
	width: 95%;
	background-color: #fff;
	border: 0 solid #e2e8f0;
	border-radius: 1.5rem;
	box-sizing: border-box;
	color: #697c89;
	cursor: pointer;
	display: inline-block;
	font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1.1rem;
	font-weight: 600;
	line-height: 1;
	padding: 1rem 1.6rem;
	text-align: center;
	text-decoration: none #697c89 solid;
	text-decoration-thickness: auto;
	transition: all .1s cubic-bezier(.4, 0, .2, 1);
	box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}
.myTourSelectContainer .myTourSelectItem .btnReview1:hover{
	background-color:tomato;
	color: #fff;
}
.myTourSelectContainer .myTourSelectItem .btnMyReview:hover {
	background-color: #697c89;;
	color: #fff;
}


/*페이징처리부분*/
#ri_page_btn{
	justify-self : center;
	display : flex;
	width: 20vh;
	justify-items : center;
	gap : 2px;
	margin-top: 15vh;
	margin-bottom: 15vh;
}
#ri_page_btn div{
	width : 100%;
	text-align: center;
}

#ri_page_begin,#ri_page_end {
  background-color: #ff6347;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

#ri_page_begin:hover,#ri_page_end:hover,
#ri_page_begin:focus,#ri_page_end:focus {
  background-color: #ff5330;
}

#ri_page_begin:focus,#ri_page_end:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

#ri_page_begin:active,#ri_page_end:active {
  background-color: #0064bd;
  box-shadow: none;
}

#ri_page_1,#ri_page_2,#ri_page_3,#ri_page_4,#ri_page_5 {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: 0;
  overflow: hidden;
  padding: 8px .8em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

#ri_page_1:active,#ri_page_2:active,#ri_page_3:active,#ri_page_4:active,#ri_page_5:active {
  border-bottom-color: #a2a6ac;
}

#ri_page_1:active:hover,#ri_page_2:active:hover,#ri_page_3:active:hover,#ri_page_4:active:hover,#ri_page_5:active:hover {
  border-bottom-color: #a2a6ac;
}

#ri_page_1:hover,#ri_page_2:hover,#ri_page_3:hover,#ri_page_4:hover,#ri_page_5:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

#ri_page_1:focus,#ri_page_2:focus,#ri_page_3:focus,#ri_page_4:focus,#ri_page_5:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}


#ri_page_before, #ri_page_after{
  background-color: #ffa899;
  border-radius: 3px;
  border: 1px solid #ff6347;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

#ri_page_before:hover,#ri_page_after:hover,
#ri_page_before:focus,#ri_page_after:focus {
  background-color: #ffb447;
  color: #ff6347;
}

#ri_page_before:focus,#ri_page_after:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

#ri_page_before:active,#ri_page_after:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

