@charset "UTF-8";

body{
	margin:0;
	padding:0;
	box-sizing: border-box;
	
}

#planner_title{
	height: 80px;
	width : 80%;
	margin: 5vh auto;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	padding : 20px;
}

#planner_title>div:nth-child(1){
	font-size:1.5rem;
	font-weight:bold;
	
}

#planner_title>div:nth-child(2){
	font-size:1.2rem;
	
}

#plannerZone {
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow:auto;
	height:800px;
	margin: 5vh;
}


/* Left Side */
#plannerZone>#MapBucketZone{
	
	display:flex;
	width:43%;
	flex-direction: column;
	justify-content: space-around;
}


#MapBucketZone>#MapZone{
	height:0;
	flex-basis:55%;
	
}

#MapBucketZone>#planBucketListZone{
	border-radius:10px;
	height:0;
	flex-basis:40%;
	
}

#planBucketListZone>#planBucketListMenu{
	display:flex;
	flex-direction:row;
	
}



#planBucketListMenu div{
	flex-basis: 25%;
	padding:5px;
	border:2px solid #fff;
	border-radius: 10px 10px 0 0;
	background-color: #F78181;
	text-align:center;
}

#planBucketListMenu div:hover{
	cursor:pointer;
}

#planBucketListMenu>div#BucketMenuActive{
	background-color: tomato;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	color:#fff;
	font-weight: bold;
}

#planBucketListZone>#planBucketList{
	height:90%;
	overflow-y: auto;
	border-radius:0 0 10px 10px;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, 
				rgba(0, 0, 0, 0.07) 0px 2px 2px, 
				rgba(0, 0, 0, 0.07) 0px 4px 4px, 
				rgba(0, 0, 0, 0.07) 0px 8px 8px, 
				rgba(0, 0, 0, 0.07) 0px 16px 16px;
			
}


#planBucketList>div.planBucketItem{
	height:60px;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
	padding-left:20px;
}

#planBucketList>div.planBucketItem:hover{
	cursor:pointer;
	background-color: #F78181;
	color:#fff;
}

.planBucketItem>span{
	display:inline-block;
	padding:3px;
}

.planBucketItem>span.planBucketItemTitle{
	font-size:1.5rem;
	font-weight:bold;
}
.planBucketItem>span.planBucketItemType{
	
}
.planBucketItem>span.planBucketItemAddr{
}
.planBucketItem>span.planBucketItemIcon{
	float:right;
}

.planBucketItem>span.planBucketItemIcon:hover{
	color:tomato;
}

#planBucketXicon {
	position:relative;
	right:15px;
	bottom:15px;
}


/* Right Side */
#plannerZone>div#planListZone {
	margin-left:20px;
	display:flex;
	width:40%;
	flex-direction:column;
	justify-content: center;
	
}

#planListZone>div#planListMenu{ 
 	height:5%; 
 	display:flex;
	position:relative;
	flex-direction:row;
 } 




#planListMenu>div{
	flex-basis:0;
	flex-grow:1;
	flex-shrink:1;
	padding:5px;
	border:3px solid #fff;
	border-radius: 10px 80px 0 5px;
	background-color: #F78181;
	text-align:center;
	line-height:1.5;
	cursor:pointer;
}

#planListMenu div:nth-child(1){
	position:relative;
	z-index:4;
}

#planListMenu div:nth-child(2){
	position:relative;
	right:40px;
	z-index:3;
}

#planListMenu div:nth-child(3){
	position:relative;
	right:80px;
	z-index:2;
}

#planListMenu div:nth-child(4){
	position:relative;
	right:120px;
	z-index:1;
}


#planListMenu div#PlanMenuActive{
	background-color: tomato;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
			    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	color:#fff;
	font-weight: bold;
}

#planListZone>#planList{
	height:93%;
	overflow:auto;
	border-radius: 0 0 10px 10px;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, 
				rgba(0, 0, 0, 0.07) 0px 2px 2px, 
				rgba(0, 0, 0, 0.07) 0px 4px 4px, 
				rgba(0, 0, 0, 0.07) 0px 8px 8px, 
				rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

#planList>div.planItem{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	height:65px;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

#planList>div.planItem:hover{
	cursor:pointer;
	background-color: #F78181;
	color:#fff;
}

.planItem>div.planItemDataZone{
	width:70%;
	padding-left:20px;
	position:relative;
	
}
.planItem>div.planItemMemoZone{
	width:30%;
	padding-right:20px;
	position:relative;
}


.planItem span{
	display:inline-block;
	margin-top:15px;
	padding:3px;
}

.planItemDataZone span.planItemOrder{
	width:30px;
	height:30px;
	margin:0 auto;
	text-align:center;
	font-weight:bold;
	background-color:tomato;
	border-radius:50%;
	color:#fff;
	position:relative;
	bottom:5px;
	
}
.planItemDataZone span.planItemName{
	font-size:1.5rem;
	font-weight:bold;
}
.planItemDataZone span.planItemDate{
	
}

.planItemMemoZone span{
	float:right;
	margin-right:5px;
}

.planItemMemoZone input[type=button]{
	background-color: tomato;
	border-radius:5px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	padding:5px;
	width:80px;
	border:none;
	color:#fff;
}

.planItemMemoZone span.planItemIcon:hover{
	color:tomato;
}

.planItemMemoZone input[type=button]:hover{
	cursor:pointer;
}


/* PlannerModal */

.plannerModal{
	position:absolute;
	background-color:#fff;
	border-radius:10px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
				rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
			    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	z-index:201;
	text-align:center;
}

.modalXicon{
	color:#fff;
	padding:5px;
	position:absolute;
	right:5px;
}

.modalXicon:hover{
	cursor:pointer;
}

.modalTitle{
	font-size:1.5rem;
	font-weight:bold;
	color:#fff;
}

#modal-wrap{
  position: fixed;
  top: 0;
  left: 0;
  z-index:200;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modalHeader{
	background-color:tomato;
	border-radius:10px 10px 0 0 ;
	padding:10px;
	
}

.modalBody span{
	display:inline-block;
	margin:0 auto;
	font-size:1.2rem;
	font-weight:bold;
}

.modalBody input[type=text]{
	text-align:center;
	border:none;
	height:30px;
	background-color:#eee;
}

.modalFooter{
	height:30%;
}

.modalFooter>input[type=button]{
	background-color: tomato;
	border-radius:5px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	padding:5px;
	width:80px;
	margin-top:30px;
	border:none;
	color:#fff;
}

.modalFooter>input[type=button]:hover{
	cursor:pointer;
}


#plannerDateModal{
	width:400px;
	height:250px;
	top:35%;
	left:35%;
}

#plannerDateModalBody span{
	padding:3px;
	margin-top:20px;
}

#plannerDateModalBody select{
	width:80px;
	text-align:center;
	font-size:1rem;
	
	border:none;
	height:30px;
	background-color:#eee;
}


#plannerModifyModal{
	width:400px;
	height:320px;
	top:25%;
	left:35%;
}

#plannerModifyModalBody span{
	margin-top:15px;
}

#plannerModifyModalBody select{
	width:80px;
	font-size:1rem;
	text-align:center;
	border:none;
	height:30px;
	background-color:#eee;
}


#plannerMemoModal{
	width:400px;
	height:330px;
	top:30%;
	left:35%;
}

#plannerMemoModalBody textarea{
	margin-top:40px;
	background-color:#eee;
	width:300px;
	height:150px;
	border:none;
	height:150;
}

#plannerMemoModalBody textarea::placeholder{
	padding:5px;
}


/* customView */
.customView{
	
}

.customView:after{
	border-top: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    left: 46%;
}

.customViewHeader{
	background-color:tomato;
	border-radius: 15px 15px 0 0;
	padding:10px;
	text-align:center;
}

.customViewHeader>span{
	font-size:1.2rem;
	font-weight:bold;
	color:#fff;
}


.customViewBody{
	display: flex;
	flex-direction:row;
	background-color:#fff;
	padding:10px;
	
}

.customViewBody>div.cvImgZone{
	
}

.customViewBody>div.cvOverView{
	min-width:250px;
	margin-left:10px;
	font-weight:bold;
	font-size: 1rem;
	white-space: normal;
}



.cvImgZone>.cvImg{
	width:100px;
	height:100%;
}

.customViewFooter{
	background-color:#fff;
	padding:3px;
	text-align:center;
	border-radius: 0 0 15px 15px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
			    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
			    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}



.customViewFooter>span.cvPlusIcon{
	display:inline-block;
	font-size:1.5rem;
	color: tomato;
}

.customViewFooter>span.cvPlusIcon:hover{
	cursor:pointer;
	transform: scale(1.2);
  	transition-duration: 0.3s;
}

/*customOverlay */
.customOverlay{
	border-radius: 50%;
	background-color: #fff;
	text-align:center;
	width:70px;
	height:70px;
	color:#000;
	font-size:1.2rem;
	font-weight:bold;
	padding-top:6px;
	positions:relative;
}

.customOverlay>div{
	font-size:1rem;
	font-weight:bold;
}

/* 후기목록으로 가기 */
#goReview{
	text-decoration:none;
	border-radius:50%;
	line-height:4;
	width:100px;
	height:100px;
	text-align:center;
	font-weight:bold;
	font-size:1.5rem;
	position :fixed;
	z-index:500;
	right:5%;
	bottom:5%;
	color:#fff;
	background-color:tomato;
}
