@charset "UTF-8";
a{
	color : #ddd;
}
.one{
position: relative;
width: 800px;
height: 600px;
margin : 10px auto;
border: #000000;
font-weight : bold;
}

/*지역(상품) 사진*/
#two{
box-sizing: border-box;

position: absolute;
width: 375px;
height: 356px;
left: 12px;
top: 18px;

border: 1px solid #000000;
background-image: url( "../images/namwon.jpg" );
background-size: cover;
}

/*결제*/
#three{
box-sizing: border-box;

position: absolute;
width: 375px;
height: 356px;
left: 415px;
bottom: 226px;

border: 1px solid #000000;
padding : 30px;
font-size : 20px;
text-align : center;
}

#three div{
	text-align : center;
	margin : 20px;
}

/*후기*/
#four{
box-sizing: border-box;

position: absolute;
width: 778px;
height: 178px;
left: 12px;
top: 398px;
overflow: scroll;

border: 1px solid #000000;
}
/*라디오버튼*/
[type="radio"]:checked {
  border: 0.4em solid tomato;
}
[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  transition: border 0.5s ease-in-out;
}


/*결제버튼*/

#btnBuy {
  background: rgb(255,151,0);
  border: none;
  z-index: 0.5;
  width: 270px;
  height: 60px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  font-size : 30px;
}
#btnBuy::after {
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #eaf818;
  background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5);
  transition: all 0.3s ease;
}
#btnBuy:hover {
  color: #000;
  cursor: pointer;
}
#btnBuy :hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
#btnBuy :active {
  top: 2px;
}
li{
	list-style : none;
}


	.preReview{
	display : inline-block;
	}
	.preReview span{
	display : inline-block;
	margin : 2px;
	text-align : center;
	}
	
	.preReviewUser{
	font-size : 15px;
	width : 100px;
	text-align : center;
	font-weight : bold;
	border-bottom: 2px solid #ddd;
	
	}
	 .preReviewUserName{
	 
	width : 100px;
	text-align : center;
	
	}
	
	.preReviewTitle{
	font-size : 15px;
	width : 600px;
	text-align : center;
	font-weight : bold;
	border-bottom: 2px solid #ddd;
	}
	
	.preReviewDoc{
	
	width : 600px;
	text-align : center;
	}
	

@media (max-width: 450px){
	.one{
	display : inline-block;
	width: 450px;
	height: 600px;
	margin : 10px auto;
	touch-action: pan-y;
	border:1px solid #fff;
	}
	
	
	#two{
	width: 400px;
	height: 356px;
	margin : 5px auto;
	left: 25px;
	border:1px solid #fff;
	user-select:none;
	}
	
	#three{
	top : 400px;
	left: 25px;
	width : 400px;
	border:1px solid #fff;
	}
	
	#four{
	top : 800px;
	width : 400px;
	left : 25px;
	border:1px solid #ddd;
	border-radius : 7px;
	height: 100px;
	padding : 5px;
	}
	
	
	
	/*후기---------------------------*/
	.preReview{
	display : inline-block;
	}
	.preReview span{
	display : inline-block;
	margin : 2px;
	}
	
	.preReviewUser{
	font-size : 15px;
	width : 80px;
	text-align : center;
	font-weight : bold;
	border-bottom: 2px solid #ddd;
	
	}
	 .preReviewUserName{
	 
	width : 80px;
	text-align : center;
	
	}
	
	.preReviewTitle{
	font-size : 15px;
	width : 295px;
	text-align : center;
	font-weight : bold;
	border-bottom: 2px solid #ddd;
	}
	
	.preReviewDoc{
	
	width : 295px;
	text-align : center;
	}
	
	
/*footer 위 여백------------------------*/	
	.blank{
	height:200px;
	}
}