@charset "UTF-8";
a{
	color : #ddd;
}
.one{
width: 55%;
margin : 10vh auto;
display: grid;
grid-template-areas:
		"two three"
		"four four";
gap:5.5vh;
border: #000000;
}

/*지역(상품) 사진*/
#two{
grid-area: two;
box-sizing: border-box;
width: 27vw;
justify-self: end;
/* 
height: 356px;
left: 12px;
top: 18px;
 */
border: 1px solid #fff;
/*background-image: url( "../images/namwon.jpg" );*/
background-size: 100% 100%;
}

/*결제*/
#three{
	grid-area: three;
	justify-self: start;
box-sizing: border-box;

/* width: 375px;
height: 356px;
left: 415px;
bottom: 226px; */

border: 1px solid #fff;
padding : 10px;
font-size : 1.5rem;
text-align : center;
font-weight : bold;
}

#three div{
	text-align : center;
	margin : 20px;
}

/*후기----------- */
.preReviewTitleP{
	font-size : 1.2rem;
	bottom : 20vh;
	margin-bottom : 10px;
	text-align : center;
	border-bottom: 2px solid #ddd;
}
#four{
	grid-area: four;
	box-sizing: border-box;
	width: 100%;
	/* height: 178px;
	left: 12px;
	top: 398px; */
	font-size : 1rem;
	border: 1px solid #fff;
}
.star_rating {
	font-size:0; 
	letter-spacing:-4px;
}
.star_rating a {
    font-size:2vh;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color: transparent; /* 기존 이모지 컬러 제거 */
	text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
    text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:#777;}
.reviewStar{
	border: none;
	color: #aaa;
	width: 2vw;
	margin-left: 1vh;
}

/*스크롤바 hidden-------------------------------------*/
#four::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
/*라디오버튼*/
[type="radio"]:checked {
  border: 0.4em solid tomato;
}
[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  transition: border 0.5s ease-in-out;
}


/*결제버튼*/

#btnBuy {
  background: rgb(255,151,0);
  border: none;
  z-index: 0.5;
  width: 270px;
  height: 60px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  font-size : 30px;
}
#btnBuy::after {
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #eaf818;
  background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5);
  transition: all 0.3s ease;
}
#btnBuy:hover {
  color: #000;
  cursor: pointer;
}
#btnBuy :hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
#btnBuy :active {
  top: 2px;
}
li{
	list-style : none;
}


	.preReview{
	display: grid;
	grid-template-areas:
		"preReviewStar . . ."
		"preReviewUserName preReviewDoc preReviewDoc preReviewDate";
	/* gap:10px; */
	}
	.preReviewStar{
	grid-area: preReviewStar;
	font-size : 0.8rem;
	text-align : center;
	color : #ccc;
	justify-self: center;
	width: 14vw;
	}
	.preReviewUserName{
	grid-area: preReviewUserName;
	font-size : 1rem;
	width : 10vw;
	text-align : center;
	color : #ccc;
	justify-self: start;
	}
	.preReviewDate{
	grid-area: preReviewDate;
	font-size : 1rem;
	width : 10vw;
	text-align : center;
	color : #ccc;
	justify-self: start;
	}
	.preReviewDoc{
	grid-area: preReviewDoc;
	font-size : 1rem;
	width : 34vw;
	text-align : center;
	color : #aaa;
	justify-self: start;
	}
	

@media (max-width: 450px){
	.one{
	display : inline-block;
	width: 100%;
	height: 600px;
	touch-action: pan-y;
	border:1px solid #fff;
	position : relative;
	box-sizing : border-box;
	}
	
	
	#two{
	
	width: 95vw;
	height: 370px;
	border:1px solid #fff;
	user-select:none;
	}
	
	#three{
	top : 400px;
	left: 25px;
	width : 95vw;
	border:1px solid #fff;
	}
	
	#four{
	top : 800px;
	width : 95vw;
	left : 25px;
	border:1px solid #ddd;
	border-radius : 7px;
	padding : 5px;
	box-sizing: border-box;
	}
	.star_rating {
	font-size:0; 
	letter-spacing:-4px;
	}
	.star_rating a {
	    font-size:1.5vh;
	    letter-spacing:0;
	    display: inline-block;
	    margin-left:5px;
	    color: transparent; /* 기존 이모지 컬러 제거 */
		text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
	    text-decoration:none;
	}
	.star_rating a:first-child {margin-left:0;}
	.star_rating a.on {color:#777;}
	.reviewStar{
		border: none;
		color: #aaa;
		width: 1vw;
		margin-left: 1vh;
	}
	
	/*후기---------------------------*/
	.preReviewTitleP{
	font-size : 1.2rem;
	bottom : 30vh;
	margin-bottom : 10px;
	text-align : center;
	border-bottom: 2px solid #ddd;
	}
	.preReview{
	display: grid;
	grid-template-areas:
		"preReviewStar preReviewDate"
		"preReviewUserName preReviewDoc"
	/* gap:10px; */
	}
	.preReviewStar{
	grid-area: preReviewStar;
	text-align : center;
	color : #ccc;
	}
	.preReviewUserName{
	grid-area: preReviewUserName;
	font-size : 1rem;
	width : 25vw;
	text-align : center;
	color : #bbb;
	}
	.preReviewDate{
	grid-area: preReviewDate;
	font-size : 1rem;
	width : 25vw;
	text-align : center;
	color : #bbb;
	}
	.preReviewDoc{
	grid-area: preReviewDoc;
	font-size : 1rem;
	width : 60vw;
	text-align : center;
	color : #aaa;
	}
	.reviewStar{
	border: none;
	color: #aaa;
	width: 2vw;
	margin-left: 1vh;
	font-size: 1vh;
	}
	
	
/*footer 위 여백------------------------*/	
	.blank{
	height:400px;
	}
}