@charset "UTF-8";

#myTourSelectMain {
    background: #ECE9E6;
    width:100%;
    height:100%;
    margin:0;
}

.myTourSelectContainer {
    width: 70%;
    margin: 0 auto;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr ;
    gap:10px;
    margin-top:0;
}
.upcomming {
  justify-self: start;
  padding:20px;
  margin: 2vh 1vh;
  font-size: 1.5rem;
}
.logo{
    width: 100%;
    height: 100%;
}
.myTourSelectContainer .myTourSelectItem {
  width: 650px;
  height: 250px;
  display:grid;
  grid-template-columns : 1fr 2fr;
  /* background: #ECE9E6; */
  background: #fff;
  overflow: hidden;
  margin: 10px auto;
}
.TicketClick:hover{
	cursor: pointer;
}
.TicketClick{
	display : grid;
	height: 100%;
	width : 95%;
}
.TicketClick>div, .TicketClick>p, .TicketClick>h2{
	margin-left : 10%;
	align-self: end;
}
.myTourSelectContainer .item-right, .myTourSelectContainer .item-left {
  padding: 20px; 
}
.myTourSelectContainer .item-right {
  width: 100%;
  position: relative;
  height: 100%;

}
.myTourSelectContainer .item-right .up-border, .myTourSelectContainer .item-right .down-border {
    padding: 14px 15px;
    background-color: #ECE9E6;
    border-radius: 50%;
    position: absolute;
}
.myTourSelectContainer .item-right .up-border {
  top: -5%;
  right: -7.5%;
}
.myTourSelectContainer .item-right .down-border {
  bottom: 20%;
  right: -7.5%;
}
.myTourSelectContainer .item-right .num {
    font-size: 60px;
    text-align: center;
    color: #111;
}
.myTourSelectContainer .item-right .day, .myTourSelectContainer .item-left .event {
  color: #555;
  font-size: 16px;
}
.myTourSelectContainer .item-right .day {
    text-align: center;
    font-size: 25px;
}
.myTourSelectContainer .item-left {
  width: 100%;
  border-left: 3px dotted #999;
  box-sizing: border-box;
}
.myTourSelectContainer .item-left .title {
  color: #111;
  font-size: 34px;
}
.TicketClick:hover{
    cursor: pointer;
}
.myTourSelectContainer .item-left .sce {
    margin-top: 5px;
    display: block;
}
.myTourSelectContainer .item-left .sce .icon, .myTourSelectContainer .item-left .sce p,
.myTourSelectContainer .item-left .loc .icon, .myTourSelectContainer .item-left .loc p{
    float:left;
    word-spacing: 5px;
    letter-spacing: 1px;
    color: #888;
    margin-bottom: 10px;
}
.myTourSelectContainer .item-left .sce .icon, .myTourSelectContainer .item-left .loc .icon {
    margin-right: 10px;
    font-size: 20px;
    color: tomato;
}
.myTourSelectContainer .item-left .loc {display: block}
.fix {clear: both}

/*버튼------------------------------------*/
#divBtnPlan{
    margin:auto;
}

#btnPlan{
    height : 100px;
    background-color : #fff;
    border : 4px solid rgb(234, 175, 166);
    border-radius : 5px;
    font-size : 3vh;
    font-weight : bold;
    color : rgb(234, 175, 166);
    text-align : center;
    margin : 4vh auto;
    padding : 1vw;
}

#btnPlan:hover{
    background-color : rgb(234, 175, 166);
    color : #fff;
    cursor : pointer;
    font-size : 3vh;
}


.animate__animated.animate__bounceIn {
    --animate-duration: 2.5s;
    --animate-delay: 2s;
}