@charset "UTF-8";
#rv_main{
	display: grid;
	grid-template-columns : 1fr;
}

#rv_blank_65px{
	height:65px;
}
#rv_blank_30px{
	height:30px;
}

#rv_title{
	height: 80px;
	width : 70%;
	margin: auto;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	padding : 20px;
}
#rv_title div:nth-child(1){
	font-size : 1.5rem;
	font-weight : bolder;
}
#rv_title div:nth-child(2){
	font-size : 1.2rem;
}
#rv_title_location{
	background-color : #FECCBE;
	width: 60px;
	padding : 2px;
	color: #ff6347;
	border-radius : 20%;
	text-align: center;
}
#rv_content{
	display: grid;
	width : 70%;
	margin : auto;
	line-height: 30px;
}
#rv_content_detail{
	display : grid;
	grid-template-columns : 1fr;
	gap : 5px;
}
#rv_content_detail_1{
	display : grid;
	grid-template-columns : auto auto 1fr;
	gap : 5px;
}
#rv_content_user_photo{
	background-image: url('../images/chaeji-profile-test.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	align-self : end;
	border-radius : 50%;
}

#rv_content_detail_2{
	display : grid;
	grid-template-columns : 30px auto auto auto auto 1fr ;
	gap : 5px;
}

#rv_view_icon{
	background-image: url('../images/view-icon.png');
	background-size: cover;
	width: 15px;
	height: 15px;
	align-self : end;
	grid-column: 2/3;
}
#rv_view_num{
	line-height: 15px;
	grid-column: 3/4;
}
#rv_heart_icon{
	background-image: url('../images/heart-icon.png');
	background-size: cover;
	width: 15px;
	height: 15px;
	align-self : end;
	grid-column: 4/5;
}
#rv_heart_num{
	line-height: 15px;
	grid-column: 5/6;
}
#rv_heart_icon:hover{
	cursor : pointer;
	transform:scale(1.2);
}
#rv_content_crud{
	right: 10px;
	background-image: url('../images/menu-icon.png');
	background-size: cover;
	width: 15px;
	height: 15px;
	justify-self:end;
	grid-column: 7/8;
}
#rv_content_crud_list{
	width : 4vw;
	display: grid;
	grid-template-rows: repeat(3,1fr);
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	font-size : 0.5rem;
	gap : 3px;
	
}
#rv_content_crud:hover{
	cursor:pointer;
	transform:scale(1.2);
}
#rv_content_crud:hover #rv_content_crud_modify, #rv_content_crud:hover #rv_content_crud_delete{
	display: block;
	cursor : pointer;
	z-index: 3;
	
}

#rv_content_crud_modify{
	grid-row: 2/3;
	background-color: white;
	padding: 2px;
	display:none;
}
#rv_content_crud_delete{
	grid-row: 3/4;
	background-color: white;
	padding: 2px;
	display:none;
}
#rv_copy_icon{
	background-image: url('../images/copy-url-icon.png');
	background-size: cover;
	width: 15px;
	height: 15px;
	justify-self : start;
	grid-column: 6/7;
}
#rv_copy_icon:hover{
	cursor : pointer;
	transform:scale(1.2);
}
#rv_content_plan_day{
	background-color : #FECCBE;
	width: 60px;
	padding : 2px;
	color: #ff6347;
	border-radius : 20%;
	text-align: center;
}
#rv_blank_25px{
	height:25px;
	border-bottom: 1px dashed black;
}

#rv_content_article img{
	width:70%;
	margin : auto;
}