@charset "UTF-8";

#rs_main{
	display : grid;
	grid-template-columns : 1fr;
	
}
#rs_blank_65px{
	height:65px;
}
#rs_title{
	height: 80px;
	width : 70%;
	margin: auto;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	padding : 20px;
}
#rs_title div:nth-child(1){
	font-size : 1.5rem;
	font-weight: bolder;
}
#rs_title div:nth-child(2){
	font-size : 1.2rem;
}
#rs_blank_30px{
	height:30px;
}
#rs_header{
	display: grid;
	width : 70%;
	margin: auto;
	grid-template-columns: 1fr 1fr 1fr;	
	
}
#rs_refresh:hover, #rs_filter_region:hover, #rs_filter_location:hover, #rs_filter_period:hover{
	cursor : pointer;
	color: #Ff6347;
	transform:scale(1.2);
}
#rs_contents_filter:hover{
	cursor : pointer;
	transform:scale(1.2);
}
#rs_refresh{
	background-image:url('../images/refresh-icon.png');
	background-size: cover;
	width: 15px;
	height: 15px;
	align-self : center;
	justify-self: start;
	
}
#rs_header_inner{
	grid-column : 2/3;
	width : 600px;
	margin : auto;
	display : grid;
	justify-items : center;
	grid-template-columns: 1fr 1fr 1fr;
	gap : 5px;
}

#rs_filter_period{
	height: 30px;
	line-height: 30px;
}
#rs_filter_region{
	height: 30px;
	line-height: 30px;
}
#rs_filter_location{
	height: 30px;
	line-height: 30px;
}

#rs_search{
	grid-column : 2/3;
	display: grid;
	grid-template-columns :  1fr 5fr;
	gap: 2px;
	border: 1px solid black;
	padding : 5px;
	border-radius : 3px;
	margin-bottom: 5px;
	
}
#rs_search:hover{
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
#rs_search>input{
	
	outline : none;
}

#rs_search_icon{
	background-image: url('../images/magnifying-glasses-icon.png');
	background-size: cover;
	width: 20px;
	height: 20px;
	justify-self: end;
}
#rs_search_text{
	border : none;
}
#rs_contents{
	display : grid;
	grid-template-columns: 1fr;
	justify-items : stretch;
	width : 70%;
	margin : auto;
}
#rs_contents_header{
	display: grid;
	grid-template-columns: 1vw 1fr 1fr 1vw;
}
#rs_contents_filter{
	right: 10px;
	background-image: url('../images/menu-icon.png');
	background-size: cover;
	width: 20px;
	height: 20px;
	justify-self : end;
}
#rs_contents_filter_list{
	width : 40px;
	display: grid;
	grid-template-rows: repeat(4,1fr);
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	font-size : 0.5rem;
	border-radius : 30%;
	gap : 3px;
	
	
}
#rs_contents_filter:hover #rs_contents_filter_recent, #rs_contents_filter:hover #rs_contents_filter_view, #rs_contents_filter:hover #rs_contents_filter_heart{
	display: block;
	cursor : pointer;
	z-index: 3;
	
}

#rs_contents_filter_recent{
	grid-row: 2/3;
	background-color: white;
	padding: 2px;
	display:none;
}
#rs_contents_filter_view{
	grid-row: 3/4;
	background-color: white;
	padding: 2px;
	display:none;
}
#rs_contents_filter_heart{
	grid-row: 4/5;
	background-color: white;
	padding: 2px;
	display:none;
}
.rs_content{
	display: grid;
	grid-template-rows : 8px repeat(2, 30px) 1fr 8px;
	border-top: 1px solid black;
	
}
.rs_contet_blank{
	height: 18.5px;
}
.rs_content_1{
	display: grid;
	grid-template-columns: auto 1fr;
	gap : 5px;
	
}
.rs_content_user{
	display: grid;
	grid-template-columns: 4vh 1fr;
	gap: 5px;
}
#rs_content_user_photo{
	background-size: cover;
	width: 3vh;
	height: 3vh;
	border-radius: 50%;
	bottom :0;
	justify-self: end;
}
#rs_content_user_name{
	justify-self: start;
	line-height : 3vh;
}
.rs_content_date{
	line-height : 3vh;
}
.rs_content_2{
	font-size : 1.5rem;
	display: grid;
	grid-template-columns: 15px 1fr;
}
.rs_content_2:hover{
	cursor : pointer;
	color: #Ff6347;
}
.rs_content_title{
	grid-column : 2/3;
}
.rs_content_3{
	display : grid;
	grid-template-columns: 15px 1fr 1fr 15px;
}
.rs_content_3_1{
	grid-column : 2/3;
	justify-self : start;
	display : grid;
	grid-template-rows : 5px 1fr 5px;
}
.rs_content_location{
	background-color : #FECCBE;
	width: 60px;
	padding : 2px;
	color: #ff6347;
	border-radius : 20%;
	text-align: center;
	grid-row : 2/3;
}
.rs_content_3_2{
	grid-column : 3/4;
	justify-self : end;
	display : grid;
	grid-template-rows : repeat(2, 1fr);
}
.rs_content_view{
	grid-row : 1/2;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.rs_content_view_icon{
	background-image: url('../images/view-icon.png');
	background-size: cover;
	width: 15px;
	height: 15px;
	align-self : end;
}
.rs_content_heart{
	grid-row : 2/3;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.rs_content_heart_icon{
	background-image: url('../images/heart-icon.png');
	background-size: cover;
	width: 15px;
	height: 15px;
	align-self : end;
}
#rs_page_btn{
	text-align: center;
	width: 54vw;
	justify-self: center;
	
}
#rs_page_btn input{
	width : 6vw;
	text-align: center;
}

#rs_page_begin,#rs_page_end {
  background-color: #ff6347;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

#rs_page_begin:hover,#rs_page_end:hover,
#rs_page_begin:focus,#rs_page_end:focus {
  background-color: #ff5330;
}

#rs_page_begin:focus,#rs_page_end:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

#rs_page_begin:active,#rs_page_end:active {
  background-color: #0064bd;
  box-shadow: none;
}

#rs_page_1,#rs_page_2,#rs_page_3,#rs_page_4,#rs_page_5 {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: 0;
  overflow: hidden;
  padding: 8px .8em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

#rs_page_1:active,#rs_page_2:active,#rs_page_3:active,#rs_page_4:active,#rs_page_5:active {
  border-bottom-color: #a2a6ac;
}

#rs_page_1:active:hover,#rs_page_2:active:hover,#rs_page_3:active:hover,#rs_page_4:active:hover,#rs_page_5:active:hover {
  border-bottom-color: #a2a6ac;
}

#rs_page_1:hover,#rs_page_2:hover,#rs_page_3:hover,#rs_page_4:hover,#rs_page_5:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

#rs_page_1:focus,#rs_page_2:focus,#rs_page_3:focus,#rs_page_4:focus,#rs_page_5:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}


#rs_page_before, #rs_page_after{
  background-color: #ffa899;
  border-radius: 3px;
  border: 1px solid #ff6347;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

#rs_page_before:hover,#rs_page_after:hover,
#rs_page_before:focus,#rs_page_after:focus {
  background-color: #ffb447;
  color: #ff6347;
}

#rs_page_before:focus,#rs_page_after:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

#rs_page_before:active,#rs_page_after:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
