
/* myTour/reviewInsert.jsp 후기작성 페이지 */

#summer{
	width:100%;
	min-height:300px;
	display:grid;
	grid-template-columns: 1fr;
  	gap:20px;
  	margin: 30px auto;
  	padding:25px;
}

.frm_summernote{
	justify-self: center;
	display: grid;
	grid-template-areas:
		"ri_title ri_title"
		"spanDate date"
		"spanRegion region"
		"spanSubject subject"
		". starForm"
		"ri_content_plan ri_content_plan"
		"summernote summernote"
		". button";
	gap:25px;
}

#ri_title{
	grid-area: ri_title;
	height: 80px;
	width : 100%;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	padding : 20px;
	margin-bottom:50px;
}

.reviewInsertSpanDate{
	grid-area: spanDate;
	text-align:center;
}
.reviewInsertDate{
	grid-area: date;
	border-top-width: 0; 
	border-left-width: 0; 
	border-right-width: 0; 
	border-bottom-width: 0; 
}
.reviewInsertSpanRegion{
	grid-area: spanRegion;
	text-align: center;
}
.reviewInsertRegion{
	grid-area: region;
	border-top-width: 0; 
	border-left-width: 0; 
	border-right-width: 0; 
	border-bottom-width: 0;
}

#starForm{
	grid-area:starForm;
	justify-content: end;
	align-content: start;
	display:flex;
}

#starForm span{
	font-size: 14px;
	margin-right: 10px;
	margin-top: 8px;
}
 
.star_rating {font-size:0; letter-spacing:-4px;}
.star_rating a {
    font-size:22px;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color: transparent; /* 기존 이모지 컬러 제거 */
	text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
    text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:#777;}
.star_rating a:hover{cursor: pointer;}

.reviewInsertSpanSubject{
	grid-area: spanSubject;
	text-align: center;
}
.reviewInsertSubject{
	grid-area: subject;
	border-top-width: 0; 
	border-left-width: 0; 
	border-right-width: 0; 
	border-bottom-width: 1;
}
#ri_content_plan{
	grid-area: ri_content_plan;
}

.spanclass{
	color:#fff;
	display:none;
}

#summernote{
	width:100%;
}
.note-editor{
	grid-area: summernote;
	height: 400px;
	overflow: auto;
}
.note-status-output{
	visibility: hidden;
}
.reviewInsertBtn{
	grid-area: button;
	justify-self: end !important;
	height: 50px;
	width:120px;
	background-color: tomato;
	color:#fff;
	border:none;
	border-radius:10px;
	margin: 4vh;
	float: right; 
}
.reviewInsertBtn:hover {
  opacity: 0.57;
  cursor: pointer;
}

#ri_content_plan_day{
	background-color : #f1f6fa;
	width: 60px;
	padding : 2px;
	color: #3f8ef1;
	border-radius : 20%;
	text-align: center;
	display:inline-block;
	margin-right:25px;
}

