@charset "UTF-8";


@charset "UTF-8";

.signUpMain{
    margin-top : 5vh;
    margin-bottom : 10vh;
}

.signUpH{
	margin-top : 9vh;
	margin-left : 20vw;
}

.signupContainer{
    margin : 5vh auto 0 auto;
    width: 60vw;
    display : grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height : 60vh;
}

.profileImage{
    grid-column: 5 / 6;
    grid-row: 1/4;
    text-align: center;
}

.btnProfileSelect{
	font-family: sans-serif;
	margin-top : 3vh;
	display: block;
	width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    position: relative;
    border: 0;
    display: inline-block;
    text-align: center;
    color: black;
    background-color : #bbbbbb;
    padding: 0.5vh 0.5vh;  
    font-size: 0.8em;
    border-radius: 12px;
}

.btnProfileSelect:active{
  top: 1px;
  border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
  box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
  position: relative;
}

.btnSubmit{
	font-family: sans-serif;
	margin-top : 16vh;
	display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    position: relative;
    border: 0;
    padding: 15px 25px;
    display: inline-block;
    text-align: center;
    color: black;
    background-color : #bbbbbb;
    font-size: 4vh;
    border-radius: 12px;
}

.btnSubmit:active{
  top: 1px;
  border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
  box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
  position: relative;
}

#img_box{
	background-position : center;
	background-size : cover;
	border-radius: 50%;
	border : 1px solid #000000;
	margin: 0 auto;
    width: 15vw;
    height: 15vw;
}

.input-container {
  height: 50px;
  position: relative;
}

.ic1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-self: center;
}

.ic2 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    align-self: center;
}

.input{
  background-color: #bbbbbb;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #000000;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

@media screen and (max-width: 450px) {

    .signUpMain{
        text-align: center;
    }

    .signUpH{
        margin-top : 9vh;
        margin-left : 0;
    }

    .signupContainer{
        margin : 5vh auto 0 auto;
        width: 80vw;
        display : grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        height : 60vh;
    }

    .ic1 {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        align-self: end;
    }

    .ic2 {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        align-self: end;
    }


    .profileImage{
        grid-column: 2 / 3;
        grid-row: 3 / 6;
        text-align: center;
        align-self: center;
    }

    .img-box{
        width: 30vw;
        height : 30vw;
    }

    .btnProfileSelect{
        font-size: 1rem;
        width: 40%;
        height : 3vh;
    }

    .btnSubmit2{
        font-family: sans-serif;
        margin-top : 16vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        position: relative;
        border: 0;
        padding: 15px 25px;
        display: inline-block;
        text-align: center;
        color: black;
        background-color : #bbbbbb;
        font-size: 4vh;
        border-radius: 12px;
    }

    .btnSubmit2:hover{
        cursor : pointer;
        background: rgb(30,25,33);
        background: linear-gradient(90deg, rgba(30,25,33,1) 0%, rgba(179,167,167,1) 61%, rgba(149,146,142,1) 100%);
    }
}
/*
@media screen and (min-width: 451px) and (max-width: 800px) {

    .btnProfileSelect{
        font-size: 0.8em;
        width: 15%;
        height : 5vh;
    }

    .btnSubmit{
        font-size: 2.2em;
        width: 40%;
    }

    .ic1 {
        margin-top: 7vh;
        width : 36vw;
        margin-left : 32vw;
    }

    .ic2 {
        margin-top: 7vh;
        width : 50vw;
        margin-left : 25vw;
    }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {

    .btnProfileSelect{
        font-size: 1em;
        width: 15%;
        height : 5vh;
    }

    .btnSubmit{
        font-size: 2.5em;
        width: 40%;
    }

    .ic1 {
        margin-top: 7vh;
        width : 30vw;
        margin-left : 35vw;
    }

    .ic2 {
        margin-top: 7vh;
        width : 50vw;
        margin-left : 25vw;
    }
}
 */