@charset "UTF-8";

#ud_to_reviewView:hover{
	cursor : pointer;
}
#ud_main{
	margin : auto;
	width: 70vw;
	display: grid;
	grid-template-columns : 1fr;
	gap : 3vh;
}
#ud_user_info{
	display: grid;
	height: 20vh;
	width : 70%;
	margin: auto;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	padding : 20px;
	box-sizing: border-box;
	
	
}
#ud_user_info_1{
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap : 1vw;
}
#ud_user_info_photo{
	width: 50px; 
	height: 50px;
	border-radius: 50%;
}

#ud_user_info_nickName{
	font-size : 1.5rem;
	font-weight: bolder;
}

#ud_user_info_2{
	display : grid;
	font-size : 1.2rem;
	grid-template-columns: 1fr auto 1fr;
	justify-items: center;
	gap : 1vw;
}
#astro1{
	justify-self: end;
	font-size: 2rem;
}
#astro2{
	justify-self: start;
	font-size: 2rem;
}

.ud_content{
	display: grid;
	grid-template-rows : 8px repeat(2, 30px) 1fr 8px;
	border-top: 1px solid black;
	
}
.ud_contet_blank{
	height: 18.5px;
}
.ud_content_1{
	display: grid;
	grid-template-columns: auto 1fr;
	gap : 5px;
	
}
.ud_content_user{
	display: grid;
	grid-template-columns: 4vh 1fr;
	gap: 5px;
}
#ud_content_user_photo{
	background-size: cover;
	width: 3vh;
	height: 3vh;
	border-radius: 50%;
	bottom :0;
	justify-self: end;
}
#ud_content_user_name{
	justify-self: start;
	line-height : 3vh;
}
.ud_content_date{
	line-height : 3vh;
}
.ud_content_2{
	font-size : 1.5rem;
	display: grid;
	grid-template-columns: 15px 1fr;
}
.ud_content_2:hover{
	cursor : pointer;
	color: #Ff6347;
}
.ud_content_title{
	grid-column : 2/3;
}
.ud_content_3{
	display : grid;
	grid-template-columns: 15px 1fr 1fr 15px;
}
.ud_content_3_1{
	grid-column : 2/3;
	justify-self : start;
	display : grid;
	grid-template-rows : 5px 1fr 5px;
}
.ud_content_location{
	background-color : #FECCBE;
	width: 60px;
	padding : 2px;
	color: #ff6347;
	border-radius : 20%;
	text-align: center;
	grid-row : 2/3;
}
.ud_content_3_2{
	grid-column : 3/4;
	justify-self : end;
	display : grid;
	grid-template-rows : repeat(2, 1fr);
}
.ud_content_view{
	grid-row : 1/2;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.ud_content_view_icon{
	background-image: url('../images/view-icon.png');
	background-size: cover;
	width: 15px;
	height: 15px;
	align-self : end;
}
.ud_content_heart{
	grid-row : 2/3;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.ud_content_heart_icon{
	background-image: url('../images/heart-icon.png');
	background-size: cover;
	width: 15px;
	height: 15px;
	align-self : end;
}
#ud_user_review_header{
	display: grid;
	grid-template-columns : auto 1fr;
	
}
#ud_to_reviewView{
	justify-self: end;
}
#ud_to_reviewView:hover{
	cursor : pointer;
	color: #Ff6347;
	font-weight: bolder;
}
#ud_to_reviewUserTotal{
	justify-self: center;
}
#ud_to_reviewUserTotal:hover{
	cursor : pointer;
	color: #Ff6347;
	font-weight: bolder;
}
#ud_blank_15vh{
	height: 15vh;
}
