
@media screen and (min-width: 450px){
	.regionSelectMain{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		text-align : center;
		gap: 20px;
		margin : 10vh 10vh;
		grid-template-rows: auto;
		/*grid-auto-rows: minmax(10vh, auto);
		grid-auto-columns: minmax(10vh, auto);*/	
	}
	
	.regionSelectH{
		margin-top : 1em;
		grid-column: 1 / 4;
		grid-row: 1 / 2;
		height : 5vh;
		font-size : 1.5rem;
		font-weight: bolder;
	}
	
	.regionSelectAll{
		height : 80vh;
		margin-top : 1em;
		grid-column: 1 / 2;
		grid-row: 2 / 4;
		background-image: url("/images/all.jpeg");
		background-position : center;
		background-size : cover;
		filter: grayscale(70%);
	}
	
	.regionSelectAll:hover{
		filter: grayscale(0%);
		cursor : pointer;
		transition: transform 0.5s;
		transform:scale(1.1);
	}
	
	.regionSelectGang{
		margin-top : 1em;
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		background-image: url("/images/kangwon.jpg");
		background-position : center;
		background-size : cover;
		filter: grayscale(70%);
	}
	
	.regionSelectGang:hover{
		filter: grayscale(0%);
		cursor : pointer;
		transition: transform 0.5s;
		transform:scale(1.1);
	}
	
	.regionSelectGyeong{
		margin-top : 1em;
		grid-column: 3 / 4;
		grid-row: 2 / 3;
		background-image: url("/images/gyeungsang.jpeg");
		background-position : center;
		background-size : cover;
		filter: grayscale(70%);
	}
	
	.regionSelectGyeong:hover{
		filter: grayscale(0%);
		cursor : pointer;
		transition: transform 0.5s;
		transform:scale(1.1);
	}
	
	.regionSelectJeolla{
		grid-column: 2 / 3;
		grid-row: 3 / 4;
		background-image: url("/images/jeolla.jpeg");
		background-position : center;
		background-size : cover;
		filter: grayscale(70%);
	}
	
	.regionSelectJeolla:hover{
		filter: grayscale(0%);
		cursor : pointer;
		transition: transform 0.5s;
		transform:scale(1.1);
	}
	
	.regionSelectChung{
		grid-column: 3 / 4;
		grid-row: 3 / 4;
		background-image: url("/images/chungcheong.jpeg");
		background-position : center;
		background-size : cover;
		filter: grayscale(70%);
	}
	
	.regionSelectChung:hover{
		filter: grayscale(0%);
		cursor : pointer;
		transition: transform 0.5s;
		transform:scale(1.1);
		
	}

	
}

@media screen and (max-width: 450px){
	.regionSelectMain{
		display: grid;
		grid-template-columns: 1fr;
		text-align : center;
		gap: 20px;
		margin : 10vh 10vh;
		grid-template-rows: auto;
		
	}
	
	.regionSelectH{
		margin-top : 1em;
		height : 5vh;
		font-size : 1.5rem;
		font-weight: bolder;
	}
	
	.regionSelectAll{
		margin-top : 1em;
		background-image: url("/images/all.jpeg");
		background-position : center;
		background-size : cover;
		filter: grayscale(70%);
	}
	
	.regionSelectAll:hover{
		filter: grayscale(0%);
		cursor : pointer;
		transition: transform 0.5s;
		transform:scale(1.1);
	}
	
	.regionSelectGang{
		margin-top : 1em;
		background-image: url("/images/kangwon.jpg");
		background-position : center;
		background-size : cover;
		filter: grayscale(70%);
	}
	
	.regionSelectGang:hover{
		filter: grayscale(0%);
		cursor : pointer;
		transition: transform 0.5s;
		transform:scale(1.1);
	}
	
	.regionSelectGyeong{
		margin-top : 1em;
		background-image: url("/images/gyeungsang.jpeg");
		background-position : center;
		background-size : cover;
		filter: grayscale(70%);
	}
	
	.regionSelectGyeong:hover{
		filter: grayscale(0%);
		cursor : pointer;
		transition: transform 0.5s;
		transform:scale(1.1);
	}
	
	.regionSelectJeolla{
		background-image: url("/images/jeolla.jpeg");
		background-position : center;
		background-size : cover;
		filter: grayscale(70%);
	}
	
	.regionSelectJeolla:hover{
		filter: grayscale(0%);
		cursor : pointer;
		transition: transform 0.5s;
		transform:scale(1.1);
	}
	
	.regionSelectChung{
		background-image: url("/images/chungcheong.jpeg");
		background-position : center;
		background-size : cover;
		filter: grayscale(70%);
	}
	
	.regionSelectChung:hover{
		filter: grayscale(0%);
		cursor : pointer;
		transition: transform 0.5s;
		transform:scale(1.1);
		
	}
}
.regionSelectMain p{
	font-size: 3.5rem;
	font-family: sans-serif;
	margin-top : 4em;
	color : white;
}


.regionSelectMain div:hover p{
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
	
}


#modal.modal-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	display: none;
}

#modal .modal-window {
	/* background: rgba( 69, 139, 197, 0.70 ); */
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 13.5px );
	-webkit-backdrop-filter: blur( 13.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	width: 40%;
	height: 80%;
	position: absolute;
	margin: auto;
	padding: 10px;
	background-color : ivory;
}

.item-detail-modal{
	width: 100%;
	height: 60%;
	text-align: center;
	margin : auto;
}

.item-name{
	margin-top : 3vh;
	font-size: 2.5em;
	font-weight: bold;
}

.item-image{
	margin: 3vh auto 0 auto;
	background-size: cover;
	width: 50%;
	height: 50%;
}

.item-address{
	margin-top : 3vh;
	font-size: 1.5em;
}

.item-tel{
	margin-top : 3vh;
}

.item-homepage{
	margin-top : 3vh;
}

.item-homepage a{
	color: black;

}

.item-detailBtnGroup-modal{
	width: 100%;
	height: 40%;
	text-align: center;
	margin : auto;
}

.item-detailBtnGroup-modal input{
	text-align: center;
	background-color: #aaaaaa;
	font-size: 1.5em;
	padding : 10px;
	color : black;
	border-radius: 10px;
}

.item-detailBtnGroup-modal input:hover{
	background-color: #ff6347;
	color : white;
}

.koreap{
	margin-top : 10em;
}